.cart-container{
    flex: 0.45;
    background-color: var(--secondary);
    margin-top: -7vh;
    box-shadow: -5px 0px 5px -5px var(--black);
}

.cart-header { 
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart-footer { 
    padding: 15px;
}

.cart-footer button{ 
    background-color: var(--primary);
    padding: 1vw;
    width: 100%;
    border-radius: var(--border-radius);
    font-weight: bold;
    color: var(--white);
    font-size: var(--text-normal);
    box-shadow: 0px 0px 5px var(--black);
    margin-top: 1.2vw;
}

.cart-footer-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cart-footer .total-items-label{
    font-size: var(--text-lg);
    color: var(--white);
}

.cart-footer .total-value{
    font-size: var(--text-xl);
    font-weight: bold;
    color: var(--white);
}

.cart-header button{
    background-color: var(--primary);
    padding: 0.35vw 1vw;
    border-radius: var(--border-radius);
    color: var(--white);
    font-size: var(--text-normal);
    box-shadow: 0px 0px 5px var(--black);
}

.cart-header .title{
    font-size: var(--text-xl);
    font-weight: bold;
    color: var(--white);
}

.cart-list-container {
    height: 70%;
    overflow-y: scroll;
}

.cart-item-container {
    background-color: var(--background);
    padding: 1vw 0vw;
    margin: 0.5vw 1vw;
    border-radius: var(--border-radius);
    box-shadow: 0px 6px 6px -5px var(--dark-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-product-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-product-image img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    box-shadow: 0px 0px 8px var(--gray);
    border-radius: var(--image-radius);
    margin: 0 1vw;
}

.cart-product-labels {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart-product-title {
    font-weight: bold;
    color: var(--secondary);
    font-size: var(--text-lg);
}

.cart-product-price {
    font-size: var(--text-lg);
    font-weight: bold;
    color: var(--primary);
}

.cart-product-price-container {
    margin-left: 0.5vw;
    margin-right: 0.25vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cart-product-price-container button{
  background-color: var(--primary);
  width: 18px;
  height: 18px;
  color: var(--white);
  font-size: var(--text-lg);
  border-radius: var(--border-radius);
  margin: 0.5vh;
}

.cart-product-price-container button:disabled{
    opacity: 0.5;
    cursor: default;
}

.cart-product-price-container p {
  font-size: var(--text-normal);
  font-weight: bold;
  color: var(--black);
}