header {
    height: 7vh;
    background-color: var(--secondary);
    padding: 0 20px;
    display: flex;
    align-items: center;
}

header p {
    font-size: var(--text-xl);
    font-weight: bold;
    color: var(--white);
}