.modal {
    position: fixed;
    z-index: 2;
    padding: 30vh 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: var(--background);
    margin: auto;
    padding: 20px;
    width: 35vw;
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius);
}

.modal-title {
    text-align: center;
    font-size: var(--text-xxl);
}

.modal-description{
    text-align: center;
    font-size: var(--text-lg);
}

.close-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}
  
.close {
    color: var(--white);
    background-color: var(--primary);
    border-radius: var(--border-radius);
    width: 95%;
    font-size: var(--text-xl);
    padding: 1vh;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-data-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1vh 0;
}

.modal-data-wrapper {
    margin-top: 3vh;
    padding: 0 2vh;
    max-height: 30vh;
    width: 35vw;
    overflow-y: scroll;
}