aside{
    flex: 0.2;
    background-color: var(--gray);
}

aside ul {
  list-style-type: none;
}

aside ul li {
    padding: 1.2vw;
    cursor: pointer;
}

aside ul li:hover p {
    color: var(--secondary);
}

aside ul li p{
    opacity: 0.6;
    text-transform: capitalize;
}

aside ul li.active {
    background-color: var(--primary);
}

aside ul li.active p{
    opacity: 1;
    color: var(--white);
    font-weight: bold;
}